{% extends 'master.twig' %}
{% set main_content_tag = 'section' %}

{% block page_title %}{{ page_title }}{% endblock %}


{% block main_heading_after %}
	{% if page_theme == 'ss' %}
		{% include '_zakovska_image.twig' %}
	{% endif %}
{% endblock %}


{% block main_content %}

	<div class="main_content__news">

		{% for post in posts %}

			<article class="main_content__news__item" itemscope itemtype="http://schema.org/NewsArticle">

				{% if post.thumbnail %}
					<a href="{{ post.permalink }}" class="main_content__news__item__image" itemprop="url">
						<img src="{{ post.thumbnail.src|resize( 210, 0, false ) }}" alt="{{ post.thumbnail.alt }}" itemprop="image"/>
					</a>
				{% endif %}
				<div class="main_content__news__item__description" itemprop="description">
					<h2 itemprop="name">{{ post.title }}</h2>

					{{ post.aktualita_excerpt ?: post.get_preview( 100, null, '' ) }}
				</div>

				<a class="main_content__news__item__more_link" href="{{ post.permalink }}" itemprop="url">Zobrazit více</a>

			</article>

		{% endfor %}

		{% if pagination %}
			<nav class="main_content__news__pagination" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="main_content__news__pagination__ul">
					{% for item in pagination %}
						{% if item.is_previous %}
							<li class="main_content__news__pagination__ul__item">
								<a href="{{ item.url }}" aria-label="Předchozí" itemprop="name url">&lsaquo;</a>
							</li>
						{% elseif item.is_next %}
							<li class="main_content__news__pagination__ul__item">
								<a href="{{ item.url }}" aria-label="Následující" itemprop="name url">&rsaquo;</a>
							</li>
						{% elseif item.is_dots %}
							<li class="main_content__news__pagination__ul__item is-dots" aria-hidden="true"></li>
						{% elseif item.is_current %}
							<li class="main_content__news__pagination__ul__item is-active">{{ item.title }}</li>
						{% else %}
							<li class="main_content__news__pagination__ul__item">
								<a href="{{ item.url }}" itemprop="name url">{{ item.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		{% endif %}

	</div>

{% endblock %}