<!doctype html>
<html {{ fn( 'language_attributes' ) }} itemscope itemtype="http://schema.org/WebPage">
<head>
	<meta charset="UTF-8">
	<title itemprop="name">{{ wp_title }}</title>

	{{ wp_head }}

	<script type="text/javascript">
		var ajax = new XMLHttpRequest();
		ajax.open("GET", "{{ template_uri }}/assets/images/svg_sprite.svg", true);
		ajax.send();
		ajax.onload = function(e) {
			var div = document.getElementById("svg_sprite_wrap");
			div.innerHTML = ajax.responseText;
			document.body.insertBefore(div, document.body.childNodes[0]);
		}
	</script>

</head>
<body>
<div id="svg_sprite_wrap" style="display: none;"></div>

<header class="main_header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="main_header__inner">

		<nav class="main_header__quick_menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_header__quick_menu__ul">
				<li class="main_header__quick_menu__ul__item">
					<a href="{{ site.url }}" itemprop="name url">
						<svg class="main_header__quick_menu__ul__item__icon" aria-hidden="true"><use xlink:href="#icon-home"></use></svg>
						Hlavní strana
					</a>
				</li>
				<li class="main_header__quick_menu__ul__item">
					<span class="main_header__quick_menu__ul__item__placeholder" itemprop="name url">
						<svg class="main_header__quick_menu__ul__item__icon" aria-hidden="true"><use xlink:href="#icon-books"></use></svg>
						Studium
					</span>
					<ul class="main_header__quick_menu__ul__item__submenu" itemscope itemtype="http://schema.org/SiteNavigationElement">
						<li class="main_header__quick_menu__ul__item__submenu__item"><a href="" itemprop="name url">Středoškolské</a></li>
						<li class="main_header__quick_menu__ul__item__submenu__item"><a href="" itemprop="name url">Vyšší odborné</a></li>
						<li class="main_header__quick_menu__ul__item__submenu__item"><a href="" itemprop="name url">Další vzdělávání</a></li>
					</ul>
				</li>
				<li class="main_header__quick_menu__ul__item">
					<a href="#obecne_o_skole" itemprop="name url">
						<svg class="main_header__quick_menu__ul__item__icon" aria-hidden="true"><use xlink:href="#icon-info"></use></svg>
						Obecně o škole
					</a>
				</li>
				<li class="main_header__quick_menu__ul__item">
					<a href="{{ dokumenty_permalink }}" itemprop="name url">
						<svg class="main_header__quick_menu__ul__item__icon" aria-hidden="true"><use xlink:href="#icon-documents"></use></svg>
						Dokumenty školy
					</a>
				</li>
			</ul>
		</nav>

		<h2 class="main_header__tagline">Vyšší odborná škola pedagogická a sociální<br/>
			a Střední pedagogická škola Kroměříž</h2>

		<a class="main_header__photo_link" href="{{ fotogalerie_permalink }}">
			Fotogalerie
			<svg class="main_header__photo_link__image" aria-hidden="true"><use xlink:href="#icon-photos"></use></svg>
		</a>

		<a class="main_header__logo" href="{{ site.url }}" itemprop="image url">
			<svg class="main_header__logo__image" role="img" title="Logo" alt="Logo" itemprop="image"><use xlink:href="#icon-logo"></use></svg>
		</a>

	</div>
</header>

<section class="quick_links is-wo_slider">
	<div class="quick_links__wrap">

		<div class="quick_links__wrap__item">
			<svg class="quick_links__wrap__item__icon" title="Adresa" alt="Adresa"><use xlink:href="#icon-building"></use></svg>
			<div class="quick_links__wrap__item__content">
				{{ school_address }}
			</div>
		</div>

		<div class="quick_links__wrap__item">
			<svg class="quick_links__wrap__item__icon" title="Telefon" alt="Telefon"><use xlink:href="#icon-phone"></use></svg>
			<div class="quick_links__wrap__item__content">
				{{ school_tel }}
			</div>
		</div>

		<div class="quick_links__wrap__item">
			<svg class="quick_links__wrap__item__icon" title="E-mail" alt="E-mail"><use xlink:href="#icon-letter"></use></svg>
			<div class="quick_links__wrap__item__content">
				{% filter shortcodes %}[lumi-email]{{ school_email }}[/lumi-email]{% endfilter %}
			</div>
		</div>

		<div class="quick_links__wrap__item">
			<svg class="quick_links__wrap__item__icon" aria-hidden="true"><use xlink:href="#icon-group"></use></svg>
			<div class="quick_links__wrap__item__content">
				<a href="#kontakty_na_zamestnance">Kontakty na<br/>zaměstnance</a>
			</div>
		</div>

	</div>
</section>

<div class="main_content_wrap">

	<aside class="main_sidebar" role="complementary">

		<nav class="main_sidebar__nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_sidebar__nav__ul">
				<li class="main_sidebar__nav__ul__item is-stredoskolske">
					<a href="" itemprop="name url">
						<div class="main_sidebar__nav__ul__item__icon" aria-hidden="true">
							<svg><use xlink:href="#icon-books"></use></svg>
						</div>
						<span>Středoškolské studium</span>
					</a>
				</li>
				<li class="main_sidebar__nav__ul__item is-vyssi">
					<a href="" itemprop="name url">
						<div class="main_sidebar__nav__ul__item__icon" aria-hidden="true">
							<svg><use xlink:href="#icon-graduation"></use></svg>
						</div>
						<span>Vyšší odborné studium</span>
					</a>
				</li>
				<li class="main_sidebar__nav__ul__item is-dalsi">
					<a href="" itemprop="name url">
						<div class="main_sidebar__nav__ul__item__icon" aria-hidden="true">
							<svg><use xlink:href="#icon-presentation"></use></svg>
						</div>
						<span>Další vzdělávání</span>
					</a>
				</li>
			</ul>
		</nav>

	</aside>

	<article class="main_content content_typo is-dalsi_vzdelavani" role="main" itemprop="mainContentOfPage">

		<nav class="main_content__breadcrumbs" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_content__breadcrumbs__menu">
				<li class="main_content__breadcrumbs__menu__item"><a href="" itemprop="url name">Hlavní strana</a></li>
				<li class="main_content__breadcrumbs__menu__item"><a href="" itemprop="url name">Další vzdělání</a></li>
			</ul>
		</nav>

		<h1><span class="heading_icon" aria-hidden="true"><svg><use xlink:href="#icon-presentation"></use></svg></span>Další vzdělávání</h1>

		<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

		<h2>Header Level 2</h2>

		<ol>
			<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			<li>Aliquam tincidunt mauris eu risus.</li>
		</ol>

		<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

		<h3>Header Level 3</h3>

		<ul>
			<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			<li>Aliquam tincidunt mauris eu risus.</li>
		</ul>

		<h1>Test tabulek</h1>

		<h2 class="important_heading">Semináře pro sociální pracovníky a pracovníky v sociálních službách</h2>

		<h3>Akreditace vzdělávací instituce: č. 2012/1160-I - nadpis úrovně 3</h3>

		<table>
			<thead>
			<tr>
				<th><p>název semináře</p></th>
				<th><p>datum konání</p></th>
				<th><p>termín přihlášení</p></th>
				<th><p>počet hodin</p></th>
				<th><p>cena</p></th>
				<th><p>akreditace MPSV</p></th>
				<th><p>kontaktní osoba</p></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><p><strong>Psychologie stárnutí pro sociální pracovníky</strong></p></td>
				<td><p>17.4.&nbsp;-&nbsp;18.4.2014</p></td>
				<td><p>7.4.2014</p></td>
				<td><p>16</p></td>
				<td><p>2&nbsp;000,-&nbsp;Kč</p></td>
				<td><p>č. 2013/0228-PC/SP/PP</p></td>
				<td><p>Mgr. Jana Vítková</p></td>
			</tr>
			<tr>
				<td><p><strong>Psychologie stárnutí pro sociální pracovníky</strong></p></td>
				<td><p>17.4.&nbsp;-&nbsp;18.4.2014</p></td>
				<td><p>7.4.2014</p></td>
				<td><p>16</p></td>
				<td><p>2&nbsp;000,-&nbsp;Kč</p></td>
				<td><p>č. 2013/0228-PC/SP/PP</p></td>
				<td><p>Mgr. Jana Vítková</p></td>
			</tr>
			</tbody>
		</table>


		<h2>Image Alignment Tests: Un-Captioned Images</h2>
		<h3>Center-align, no caption</h3>
		<p>Center-aligned image with no caption, and text before and after. <img src="sample_content/test-image-landscape.jpg" alt="" title="test-image-landscape" width="300" height="199" class="aligncenter size-full wp-image-535" /> ALorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>
		<h3>Left-align, no caption</h3>
		<p>Left-aligned image with no caption, and text before and after. <img src="sample_content/test-image-landscape.jpg" alt="" title="test-image-landscape" width="300" height="199" class="alignleft size-full wp-image-535" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>
		<h3>Right-align, no caption</h3>
		<p>Right-aligned image with no caption, and text before and after. <img src="sample_content/test-image-landscape.jpg" alt="" title="test-image-landscape" width="300" height="199" class="alignright size-full wp-image-535" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>
		<h3>No alignment, no caption</h3>
		<p>None-aligned image with no caption, and text before and after. <img src="sample_content/test-image-landscape.jpg" alt="" title="test-image-landscape" width="300" height="199" class="alignnone size-full wp-image-535" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>

		<h2>Image Alignment Tests: Captioned Images</h2>
		<h3>Center-align with Caption</h3>
		<p>Center-aligned image with caption, and text before and after.</p> <div id="attachment_544" class="wp-caption aligncenter" style="width: 300px"><a href="sample_content/boat.jpg"><img src="sample_content/boat.jpg" alt="" title="boat" width="300" height="198" class="size-medium wp-image-544" /></a><p class="wp-caption-text">A picture is worth a thousand words</p></div> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>
		<h3>Left-align with caption</h3>
		<p>Left-aligned image with caption, and text before and after. </p><div id="attachment_545" class="wp-caption alignleft" style="width: 300px"><a href="sample_content/boat.jpg"><img src="sample_content/boat.jpg" alt="" title="boat" width="300" height="198" class="size-medium wp-image-544" /></a><p class="wp-caption-text">A picture is worth a thousand words</p></div><p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>
		<h3>Right-align with caption</h3>
		<p>Right-aligned image with caption, and text before and after.</p> <div id="attachment_546" class="wp-caption alignright" style="width: 300px"><a href="sample_content/boat.jpg"><img src="sample_content/boat.jpg" alt="" title="boat" width="300" height="198" class="size-medium wp-image-544" /></a><p class="wp-caption-text">A picture is worth a thousand words</p></div><p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>
		<h3>No alignment, with caption</h3>
		<p>None-aligned image with caption, and text before and after.</p> <div id="attachment_547" class="wp-caption alignnone" style="width: 300px"><a href="sample_content/boat.jpg"><img src="sample_content/boat.jpg" alt="" title="boat" width="300" height="198" class="size-medium wp-image-544" /></a><p class="wp-caption-text">A picture is worth a thousand words</p></div><p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl. Quisque quis urna in velit dictum pellentesque. Vivamus a quam. Curabitur eu tortor id turpis tristique adipiscing. Morbi blandit. Maecenas vel est. Nunc aliquam, orci at accumsan commodo, libero nibh euismod augue, a ullamcorper velit dui et purus. Aenean volutpat, ipsum ac imperdiet fermentum, dui dui suscipit arcu, vitae dictum purus diam ac ligula.</p>



	</article>

</div>

<section class="sponsors">

	<div class="sponsors__item">
		<img src="images/sponsors_univ2.png" alt="Univ2" width="70" height="73"/>
	</div>

	<div class="sponsors__item">
		<img src="images/sponsors_projekt_tera.png" alt="Univ2" width="180" height="81"/>
	</div>

	<div class="sponsors__item">
		<img src="images/sponsors_esf.png" alt="Univ2" width="400" height="67"/>
	</div>

</section>

<section class="kontakty" id="kontakty_na_zamestnance">
	<div class="kontakty__inner">

		<h2 class="kontakty__heading">Kontakty na učitele</h2>

		<table class="kontakty__table">
			<thead>
			<tr>
				<th>Jméno a Příjmení</th>
				<th>Telefon</th>
				<th>E-mail</th>
				<th>Třída</th>
			</tr>
			</thead>
			<tbody>
			<tr itemscope itemtype="https://schema.org/Person">
				<td itemprop="name">Vladimír Čert</td>
				<td itemprop="telephone">573 333 514</td>
				<td><a href="" itemprop="email">nekdo.nekdo@neco.cz</a></td>
				<td>IV.A</td>
			</tr>
			<tr>
				<td>Vladimír Čert</td>
				<td>573 333 514</td>
				<td><a href="">nekdo.nekdo@neco.cz</a></td>
				<td>IV.A</td>
			</tr>
			<tr>
				<td>Vladimír Čert</td>
				<td>573 333 514</td>
				<td><a href="">nekdo.nekdo@neco.cz</a></td>
				<td>IV.A</td>
			</tr>
			<tr>
				<td>Vladimír Čert</td>
				<td>573 333 514</td>
				<td><a href="">nekdo.nekdo@neco.cz</a></td>
				<td>IV.A</td>
			</tr>

			</tbody>
		</table>

	</div>
</section>

<section class="o_skole content_typo" id="obecne_o_skole">

	<h1><span class="heading_icon" aria-hidden="true"><svg><use xlink:href="#icon-building"></use></svg></span>Obecně o škole</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae expedita impedit soluta. Alias dolor expedita
		laborum maiores maxime, pariatur possimus quae quaerat quod reiciendis sed sequi similique vitae. Alias
		cupiditate deserunt distinctio dolore eius eligendi error, est et, expedita necessitatibus perspiciatis, quaerat
		quo ratione tempora temporibus vel veniam! Beatae eligendi fuga illum iusto laboriosam laborum porro tempore
		unde! A ab, ad alias aspernatur aut corporis cumque dignissimos eius et eum eveniet facere facilis fuga impedit
		incidunt laboriosam laudantium maiores modi natus nemo nisi provident quaerat quas repellendus ullam unde ut
		vero. Autem excepturi expedita explicabo iusto libero modi similique veniam!</p>

</section>

<footer class="main_footer" role="contentinfo">
	<div class="main_footer__inner">

		<div class="main_footer__meta">
			<nav class="main_footer__meta__menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="main_footer__meta__menu__ul">
					<li class="main_footer__meta__menu__ul__item"><a href="" itemprop="url name">Obecně o škole</a></li>
					<li class="main_footer__meta__menu__ul__item"><a href="" itemprop="url name">Kontakty na zaměstnance</a></li>
					<li class="main_footer__meta__menu__ul__item"><a href="" itemprop="url name">Administrace</a></li>
				</ul>
			</nav>
			&copy; Copyright 2015, Všechna práva vyhrazena.
		</div>

		<div class="main_footer__copyright">
			Návrh a grafika: <a href="">www.MarekHorava.cz</a><br/>
			Programování: <a href="">www.LumiArt.cz</a>
		</div>

	</div>
</footer>

<button class="scroll_to_top" role="button">Nahoru</button>


{{ wp_footer }}


</body>
</html>